*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('bank.jpg') repeat;
    background-size: cover;
    background-position: center;
}

h2 {
    color: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px
  }

.navigation h2{
margin-left: 540px;
font-size: 3em;
}

 .picture .sora{
    position: relative;
    width: 115px;
    height: 115px;
    top: 0;
    margin-left: -1360px;
    z-index: 1000;
} 

.wrapper{
  color:white;
}
.wrapper{
    position: absolute;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid white;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    z-index: 200;
    transition: 1s;
}

.wrapper.active-popup{
    transform: scale(1);
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: black;
    font-size: 1.5em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 23px;
    cursor: pointer;
    z-index: 1;
}

table, th, td {
    border: 1px solid black;

    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }

  tr:hover{
    background-color: gray;
    transition: .5s;
    color: black(225, 233, 236);
    
    
  }

  .btn1{
    width: 400px;
    height: 100px;
    font-size: 1.6em;
    border: none;
    outline: none;
    border-top:solid white;
    border-left:solid white;
    border-bottom:solid white;
    background: transparent;
    font-weight: bolder;
    margin-left: 70px;
    cursor: pointer;
    border-right: solid white;
    color:white

    

  }

  .btn{
    width: 400px;
    height: 100px;
    font-size: 1.6em;
    border: none;
    outline: none;
    border-top:solid white;
    border-left:solid white;
    border-bottom:solid white;
    background: transparent;
    font-weight: bolder;
    margin-left: 70px;
    cursor: pointer;
    border-right: solid white;
    color:white

    /* border-style: dotted; */
  }

  .wrapper1{
    position: absolute;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid white;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0); 
    z-index: 200;
    transition: 1s;
}

.wrapper1.active-popup{
    transform: scale(1);
}

.wrapper1 .icon-close1{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: black;
    font-size: 1.5em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 23px;
    cursor: pointer;
    z-index: 1;
}
 input{
    position:static;
    width: 200px;

    height: 200px;
    text-align: left;
    text-align: justify;
    vertical-align: text-top;
    padding-bottom: 150px;

    

 }

.wrapper1 .btn2{

    position: fixed;
    width: 100px;
    margin-top: 350px;
    cursor: pointer;
    background-color: black;
    color: white;


}
